<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body> 

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Área Restrita</h1>

    <p>Você está logado como:</p>
    <strong>{{ current_user.nome }}</strong>

    <h2>Menu</h2>

    <a href="/equipamentos/cadastro">Cadastrar Equipamento</a><br><br>
    <a href="/equipamentos">Listar Equipamentos</a><br><br>
    <a href="/logout">Sair</a>
</body>
</html>
